@import "../../var.scss";

.header-container {
  background-color: red;
  padding: 20px 50px 20px 50px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 35px;
  }

  .hamb-btn {
    align-items: center;
    display: flex;
    height: $btn-size;
    justify-content: center;
    position: relative;
    width: $btn-size;

    &:before {
      border: $btn-border solid white;
      content: "";
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: transform 0.4s ease-out, border-color 0.3s;
      width: 100%;
    }

    .hamb-btn__wr {
      align-items: center;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-template-rows: repeat(3, minmax(0, 1fr));
      height: 1.5rem;
      justify-items: center;
      transition: transform 0.4s ease-out;
      width: 1.5rem;

      .hamb-btn__square {
        background-color: black;
        display: inline-block;
        height: 0.25rem;
        position: relative;
        transition: transform 0.4s ease-out, background-color 0.3s;
        width: 0.25rem;
        z-index: 1;

        &:not(.-middle) {
          background-color: white;
        }
      }
    }
  }
}
