<div class="header-container">
  <div class="title">Les Balcons du Canet</div>
  <div class="button-navbar">
    <button
      tabindex="0"
      aria-label="Menu"
      name="Menu"
      class="hamb-btn white-theme"
    >
      <span class="hamb-btn__wr"
        ><span class="hamb-btn__square -laterals"></span
        ><span class="hamb-btn__square -laterals"></span
        ><span class="hamb-btn__square -laterals"></span
        ><span class="hamb-btn__square -laterals"></span
        ><span class="hamb-btn__square -middle"></span
        ><span class="hamb-btn__square -laterals"></span
        ><span class="hamb-btn__square -laterals"></span
        ><span class="hamb-btn__square -laterals"></span
        ><span class="hamb-btn__square -laterals"></span
      ></span>
    </button>
  </div>
</div>
