<div class="header-container">
  <div [ngClass]="{ 'top-app-bar': true, 'bar-colored': showHeader() }">
    <div class="title">Les Balcons du Canet</div>
    @if (!isMobile()) {
      <div class="button-navbar" [class.button-open]="buttonState()">
        <button
          tabindex="0"
          aria-label="Menu"
          name="Menu"
          (click)="switchButton($event)"
          class="hamb-btn white-theme"
        >
          <span class="hamb-btn__wr"
            ><span class="hamb-btn__square -laterals"></span
            ><span class="hamb-btn__square -laterals"></span
            ><span class="hamb-btn__square -laterals"></span
            ><span class="hamb-btn__square -laterals"></span
            ><span class="hamb-btn__square -middle"></span
            ><span class="hamb-btn__square -laterals"></span
            ><span class="hamb-btn__square -laterals"></span
            ><span class="hamb-btn__square -laterals"></span
            ><span class="hamb-btn__square -laterals"></span
          ></span>
        </button>
        <div class="text-box" [class.text-open]="buttonState()">
          <p>Menu</p>
          <p>Contact</p>
          <p>Agenda</p>
        </div>
      </div>
    }
  </div>
</div>
