@import "../../var.scss";

.header-container {
  height: 70px;
  left: 0;
  width: 100%;
  top: 0;
  color: var(--main-text-color);
  position: fixed;
  z-index: 9999;

  .top-app-bar {
    transition: all 0.2s ease 0s;
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 20px;

    .button-navbar {
      border: $btn-border solid var(--main-text-color);
      transition: all ease-out 500ms;
      display: flex;
      height: $btn-size;
      width: $btn-size;

      .text-box {
        display: none;

        > p {
          cursor: pointer;
        }
      }

      .text-open {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-around;
      }
    }

    .title {
      font-family: "Botanic";
      font-size: 35px;
      font-weight: bold;
    }

    .button-open {
      width: 600px;
    }

    .hamb-btn {
      align-items: center;
      display: flex;
      height: $btn-size;
      justify-content: center;
      position: relative;
      width: $btn-size;

      &:before {
        content: "";
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        transition:
          transform 0.4s ease-out,
          border-color 0.3s;
        width: 100%;
      }

      .hamb-btn__wr {
        align-items: center;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
        height: 1.5rem;
        justify-items: center;
        transition: transform 0.4s ease-out;
        width: 1.5rem;

        .hamb-btn__square {
          background-color: green;
          display: inline-block;
          height: 0.25rem;
          position: relative;
          transition:
            transform 0.4s ease-out,
            background-color 0.3s;
          width: 0.25rem;
          z-index: 1;

          &:not(.-middle) {
            background-color: white;
          }
        }
      }
    }
  }

  .bar-colored {
    background-color: #f8e0cb;
    color: var(--secondary-text-color);
    padding: 8px 20px 8px 20px;

    .button-navbar {
      border: $btn-border solid var(--secondary-text-color);
    }

    .hamb-btn__square {
      &:not(.-middle) {
        background-color: black !important;
      }
    }
  }
}
