.left-navbar-container {
  position: fixed;
  top: 0;
  width: 100px;
  height: 100vh;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .selected {
    background-color: white;
    transition: 550ms;
  }

  >div {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    &:hover {
      >p {
        color: white;
      }
    }

    >div {
      cursor: pointer;
      width: 10px;
      outline: 2px solid brown;
      height: 10px;
      border-radius: 50%;
      transition: all ease 0.25s;

      &:hover {
        background-color: brown;
      }
    }

    >p {
      transition: 500ms;
      padding-left: 20px;
      text-align: center;
      color: transparent;
    }
  }
}