.image-container {
  position: relative;

  img {
    border-radius: 30px;
    position: relative;
    top: 0;
    left: 0;
  }

  .image-title {
    position: absolute;
    bottom: 22px;
    left: 22px;
    border: 1px solid #eee7e0;
    border-radius: 52px;
    height: 40px;
    font-size: 1.1875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 17px;
    padding-right: 17px;
    font-weight: 300;
  }
}
