/* You can add global styles to this file, and also import other style files */

:root {
  --main-text-color: white;
  --secondary-text-color: black;
  background-color: #BF8770;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: 0;
  color: inherit;
  cursor: pointer;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-user-select: none;
  user-select: none;
}

@font-face {
  font-family: 'Botanic';
  src: url('assets/fonts/botanic/Botanic.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}