.main-img-container {
  background-image: url("/assets/images/main-bc-homepage-2.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  z-index: 1;
}